    * {
     font-family: 'Bree Serif', serif;
    }
    
    html, body {
     background-image: url(background_001.jpg);
    }
    
    .toolbar li {
     display: inline;
     background-color: rgb(255, 255, 128);
     border: 1px dashed;
     border-color: rgb(255, 250, 100) rgb(255, 250, 100) rgb(255, 250, 100);
     margin: 1px;
     padding: 1em;
     font-size: 1em;
    }
    
    img {
     position: fixed;
     left: 0px;
     top: 0px;
     z-index: -1;
    }
    
    h1 {
     background-color: green;
     color: white;
    }
    .aboutme {
     center;
    }
    
    .pickabout {
     position: fixed;
     center;
     
    }