    * {
     font-family:'Bitter', serif;
     font-size: 20px;
     color: #1616a0;
    }
    
    html, body {
     background: url(../images/background_001.jpg) no-repeat center fixed;
     background-size: cover;
     max-width: 980px;
     margin: 0 auto;
    }
    
    #footer {
     background: url(../images/background_002.jpg) no-repeat center;
     max-width: 980px;
     max-height: 480px;
     background-size: cover;
     margin: 0 auto;
    }
    
    .section { 
     display:center;
    }
    
    .toolbar li {
     display: inline;
     background-color: rgb(255, 255, 128);
     border: 1px dashed;
     border-color: rgb(255, 250, 100) rgb(255, 250, 100) rgb(255, 250, 100);
     margin: 1px;
     padding: 1em;
     font-size: 1em;
    }
    
    .myphoto {
     display: inline;
     border-radius: 8px;
     padding: 5px;
     width: 450px;
    }
    
    h1 {
     background-color: green;
     background-size: cover;
     color: white;
     text-align: center;
    }
    
    .aboutme {
     float: left;
    }
    
    .title {
     text-align: center;
     
    }
    
    #repair-carousel img {
     height: 575px;
    }
    
    #repair-carousel div.item {
     margin: 0 auto;
    }
    
    .fishing {
     width: auto;
     border-bottom-style: groove;
     max-width: 980px;
    }
    
    #cts {
     background-color: #f2ed60;
     text-align: center;
    }
    
    p {
    text-indent: 60px;
    }
    